html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header {
    color: #b8b6b4;
    height: 10%;
    background-color: #171a21;
    display: flex;
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: 9999FF;
    color: #acb2b8
}
aside {
    float:right;
    margin: 1% 5%;
    width: 30%;
    background-color: #171a21;
}
aside a {
    color: white;
}

aside img, aside ul {
    padding: 0;
    width: 100%;
}
aside li {
    display: block;
    text-align: center;
    padding: 0.2em 0;
}
p {
    Margin:10;
    padding: 0;
    color: 000000;
}
nav {
    margin: auto 3em;
}

li {
    display: inline-block;
Margin:10;
}

nav li {
    padding: 0 1em;
}
a {
    color: #b8b6b4;
    text-decoration:none;
}

a:hover{
    color: #87bff2;
}

nav li a {
    color: #b8b6b4;
}
li {
    display: inline-block;
}
h4 {
    font-weight: normal;
    color:663399;
    Margin-left: 0;
}
h3 {
    color: #ebebeb;
    Margin-left: 50;
}

